
<div layout-fill layout="column" >

    <md-toolbar style="background-color: teal" >
        <div class="md-toolbar-tools">
            <img src="http://placehold.it/120x64" >
            <span class="website-title" >
                <h1>
                    <a ui-sref="student" >Road2Math</a>
                </h1>
            </span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button class="title-btn">
                Settings
            </md-button>
            <md-button  class="title-btn">
                Logout
            </md-button>
        </div>
    </md-toolbar>

    <div layout="row" style="background-color: lightgreen; min-height: 60%" >
        <div flex="20" layout="column" >
            <div flex="20" >
            </div>
            <div flex="60" >
                <!--<img src="assets/images/mickey_mouse.png">-->
            </div>
            <div flex="20" >

            </div>
        </div>
        <div flex="60" layout="column" >

            <md-card flex>
                <div style=" width: inherit; text-align: center; vertical-align: middle " >
                    <span >
                        <h2>Error Bucket</h2>
                        <p>Game Instructions</p>
                    </span>
                </div>

            </md-card>
            <md-card flex>
                <md-content layout-padding layout="row" >
                    <div flex="20" >

                    </div>
                    <div flex="60" >
                        <img src="assets/images/r2mdemo.png">
                    </div>
                    <div flex="20">

                    </div>
                </md-content>
            </md-card>
            <md-card flex>
                <div >
                    <md-button ui-sref="student_dashboard"  class="md-raised title-btn" style="width: 150px;margin:25px;float: right; background-color:#4DB6AC ; color: whitesmoke;" > Next </md-button>
                </div>

            </md-card>
        </div>
        <div flex="20" layout="column" >


        </div>
    </div>


</div>


